@charset "utf-8";

/* Noto Sans KR */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* font-family: 'Noto Sans KR', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/* font-family: 'Itim'; */

/* GmarketSans */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}